<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<!-- Favicon -->
		<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Ctext y='1.2em' font-size='96'%3E⚫️%3C/text%3E%3Ctext y='1.3em' x='0.2em' font-size='76' fill='%23fff'%3Esf%3C/text%3E%3C/svg%3E">


		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

		<!-- Scripts -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>
	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		
        {% if app.user and app.user.isVerified == false %}
            <div  class="alert alert-warning alert-dismissible fade show" role="alert">
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé</strong>, <a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a> 
                </div>
            </div>
        {% endif %}
        
        {% include "_partials/_flash.html.twig" %}

		{% block body %}{% endblock %}

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
